 .favorite, .list{
     padding-right: 10px;
 }

 .container a{
     color: white;
 }

 .sidenav{
     background-color: #9b0000;
 }

 .content{
     padding: 16px; 
     background-color: #FFF;
     margin-top: 64px;
 }

